<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>eventmanager</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<filter>
		<filter-name>struts2</filter-name>
			<filter-class>
			org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter
			</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	
	<!-- 配置登陆过滤器 -->
<filter>
  <filter-name>login</filter-name>
  <filter-class>com.vrimmer.filter.LoginFilter</filter-class>
  <init-param>    
<param-name>excludedPages</param-name>    
<param-value>/EventManager/index.html</param-value>    
</init-param>   
 </filter>
 <filter-mapping>
  <filter-name>login</filter-name>
  <url-pattern>/*</url-pattern>
</filter-mapping>

	<context-param>
    <param-name>prefixURL</param-name>
    <!-- <param-value>http://172.16.1.81:8086/</param-value> -->
    <param-value>http://platform.im-vr.com:8086/</param-value>
   <!-- <param-value>http://172.16.1.51:8086/Vrimmer/</param-value>  -->
  </context-param>
  
  	<context-param>
    <param-name>prefixURLex</param-name>
    <!-- <param-value>http://172.16.1.81:8086/</param-value> -->
    <param-value>http://platform.im-vr.com:8082/api/v1/game/</param-value>
   <!-- <param-value>http://172.16.1.51:8086/Vrimmer/</param-value>  -->
  </context-param>
  
</web-app>